<h1>Ajouter un article</h1>
<form action="/user" method="POST">
    Nom:
    <input type="text" name="aname" value=""/><br/>
    Quantité:
    <input type="text" name="qty" value=""/><br/>
    <input type="hidden" name="iditem" value="">
    <input type="submit" style="background-color: steelblue; color: white;" value="Sauver" name="save"><br>
    <!--<input type="submit" value="Retour" formaction="/user">
    -->
</form>