h1 {
    text-align: center;
    color: powderblue;
}
input[type=submit] {
    padding:10px 10px; 
    background:steelblue; 
}
li{
    color: lightgrey;
    margin:5px 5px; 
}
body{
    width: 500px;
    font-family: Arial; 
    text-size-adjust: 12px; 
    border: 1px;border-color: lightgray;
    border-style: solid;
    margin: 10px;
}